# AutoCare Advisor Git Attributes - COLORtastic
* text=auto

# Text files
*.js text
*.jsx text
*.ts text
*.tsx text
*.json text
*.md text
*.yml text
*.yaml text
*.xml text
*.html text
*.css text
*.scss text
*.sql text

# Line endings
*.sh text eol=lf
*.sln text eol=crlf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.jar binary

# GitHub Linguist
docs/* linguist-documentation
*.md linguist-detectable=true
*.sql linguist-detectable=true
*.js linguist-detectable=true
*.ts linguist-detectable=true
